 body,ul,li,p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
 }
 a{
    text-decoration: none;
 }
 
 .cabecalho{
    background-color: rgb(13, 13, 19);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .menu{
    display: flex;
 }
 .menu li {
    margin-left: 10px;
 }
 .menu li a {
    background-color: blueviolet;
    display: block;
    padding: 10px;
 }
 .imagens{
   display: flex;
    flex-direction: column;

 }
 