body,ul,li,p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}
@font-face {
    font-family:perpetua;
    src: url(fontes/perpetua-bold-italic.ttf);
}
body{
    background-image: url(../imagens/240925.jpg);
    background-size: cover;
}
.ti{
    font-family:perpetua;color: white;
}
li{
    color: aliceblue;
    font-family:perpetua;color: white;
    text-shadow: 0.1em 0.1em black;
}
h1{
    font-family:perpetua;color: white;
}
.imagens{
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;

}
.imagens img{
    width: 35%;
    margin: 15px;
    display: flex;
    flex-direction: column;

    
}
